.row
  .large-4.columns.margin-top
    img.rounded.margin-top[src="../img/czerwona.jpg"]
  .large-7.columns.margin-top[style="margin-top: 15em"]
    form[name="trainingForm"]
      .row
        .large-7.columns
          label.label
            | Training Name:
          input[type="text" name="name" placeholder="Write name for your training" ng-model="training.name" required]
          span.error[ng-show="trainingForm.name.$error.required"]
            | Required!
        .large-3.columns
          label.label
            | Level:
          input[type="text" name="level" placeholder="Level..." ng-model="training.level"]
        .large-2.columns
          label.label
            | Pause time:
          input[type="number" name="pause" min="0" placeholder="sec" ng-model="training.pause" required]
          span.error[ng-show="trainingForm.pause.$error.required"]
            | Required!
          span.error[ng-show="trainingForm.pause.$error.number"]
            | Number!
/      .row
/        .large-12.columns
/          label.label
/            | Training Description:
/          textarea[type="text" name="desc" placeholder="Describe your new training" ng-model="training.description" style="min-height: 10em; max-width: 100%" required]
/          span.error[ng-show="trainingForm.desc.$error.required"]
/            | Required!
    .large-3.columns.large-centered
      a.button.expand.radius[href="#exercises-selector" offset="30" du-smooth-scroll du-scrollspy]
        i.fa.fa-angle-double-down
