<div class="row" >
	<div class="large-5 columns panel small-12" style="height:40em; margin-top: 1.25em">

	  <ul ng-sortable="list2config" class="no-bullet" style="height:100%">
	    <li data-ng-repeat="item in list2" class="row collapse" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
	    <form name="myForm">

	      <div class="large-9 columns prefix alert-box ">
	      	{{item.name}}	<a ng-show="hoverEdit" ng-click="removeSerie($index)" class="close alert" style="margin-top: -0.9em"><i class="fa fa-times"></i></a>
	      </div>
	      <div class="large-3 columns">
	      	<input type="number" name="input" min="0" placeholder="powtórzenia" ng-init="item.repeats = 1" ng-model="item.repeats" required/>
	      	<span class="error" ng-show="myForm.input.$error.required">Required!</span>
	      	<span class="error" ng-show="myForm.input.$error.number">Number</span>
    		</div>

	    </form>

	    </li> 
	  </ul>
	</div>

	<div class="large-2 columns margin-top">
		<hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>		
		<hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
		<br><br>		
		<button ng-click="save()" class="button expand radius margin-top">Save</button>
	</div	>

  <div class="large-5 columns panel small-12 " style="height:40em; margin-top:1.25em">
    <input type="search" ng-model="q" placeholder="filter exercises..." />
    <ul ng-sortable="list1config" style="text-align: center;overflow-y: scroll; max-height:90%">
      <li  data-ng-repeat="item in list1 | filter:q as results" class="button small radius" style="margin: 0.2em">
        <div>{{item.name}}</div>
      </li>
      
      <div ng-if="results.length == 0">
        <strong>No results found...</strong>
      </div>
    </ul>
  </div>	
</div>