<section id="top">
<div du-parallax y="background" >
<div class="cover" >

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#top" du-smooth-scroll du-scrollspy>Kalistenika dla skurwieli</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="#training-form" offset="-120" du-smooth-scroll du-scrollspy>Create training</a></li>
        <li class="has-dropdown">
          <a href="#">Right Button Dropdown</a>
          <ul class="dropdown">
            <li ><a href="#training-form" offset="30" du-smooth-scroll du-scrollspy>Training form</a></li>
            <li class="active"><a href="#exercise-selector" offset="30" du-smooth-scroll du-scrollspy>Exercise selector</a></li>
          </ul>
        </li>
      </ul>
      <!-- Left Nav Section -->
      <!-- <ul class="left"> -->
        <!-- <li><a href="#">Left Nav Button</a></li> -->
      <!-- </ul> -->
    </section>
  </nav>

</div>
</div>
</section>

<section id="training-form">
  <ng-include src="'partials/training_form.html'" scope="" onload=""></ng-include>
</section>

<div class="row divider">
  <i class="fa fa-caret-down "></i>
</div>

<section id="exercises-selector">
  <div class="exercise-selector-container">
  	<ng-include src="'partials/exercises_selector.html'" scope="" onload=""></ng-include>
  </div>
</section>


<div class="pani">
</div>

